/*start */
/*start global rule*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1000px;
    margin: auto;
    height: 100%;
    
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    } 
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    } 
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    } 
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    } 
}
header,
#intro {
    height: 100%;
}

#intro {
    background: url("")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-expand-lg {
     background-color: indigo;
}
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-end !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1) !important;
}
input.form-control.form-control-lg {
	min-width: 35em; 
	margin-bottom: 20px;
	margin-top: 20px;
}

img {
    margin-top: 300px;
	
}
button .btn .btn-outline-white {
	border-radius: 10px;
}
.btn[class*=btn-outline-] {
	border-radius: 10px;
}
.RNmpXc [type=button], [type=reset], [type=submit], button {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #d6dde4;
    }
.form-control-lg {
	border-radius: 10px !important;
}


